
/* home */

/* .css-1ejefn0{
    background-color: #588df7; opacity:0.8;
    margin-top: 10rem;

    
} */

.css-12ttj6m {
background-color: rgb(88, 141, 247); opacity:0.8;
padding: 50px;
border-radius:  10px;
margin-top: 4rem;
margin-left: -4rem;
margin-right: -1rem;
margin-bottom: -4rem;
}

.css-10trblm {
    position: relative;
    flex: 1 1 0%;
    margin-left: -2rem;
    margin-top: -3.2rem;
}

.css-zt5igj {
    position: relative;
    left: calc(0rem);
    width: calc(100% + 2.5rem + 0.5rem);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: visible;
}



.css-1629p8f h1 {
   
    font-size: 5rem;
    color: #FFF;
    margin-left: -1rem;
    margin-top: 2rem;


}

.css-81oif8 {

    color: #fff

}

.css-1offfwp h3 {
    color: #fff;
}


